---
# configuration file for kubeadm init

apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  podSubnet: "{{ flannel_cidr }}"
kubernetesVersion: {{ kubernetes_version }}
controlPlaneEndpoint: "{{ haproxy_url }}:{{ apiserver_port }}"
apiServer:
  certSANs:
  - "{{ haproxy_url }}"
