global
  log /dev/log  local0
  log /dev/log  local1 notice
  chroot /var/lib/haproxy
  user nobody

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000

frontend kubernetes
    bind 94.101.184.231:6443
    option tcplog
    mode tcp
    default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
    mode tcp
    balance roundrobin
    option tcp-check
    server {{ host_name}} {{ host_ip }}:{{ host_port }} check fall 3 rise 2
